/* Kanji related logic. */

.kanji {
  width: 100%;
  height: 100%;
}

.kanji > svg {
  width: 100%;
  height: 100%;
}

.kanji path {
  stroke: black;
  stroke-width: 3;
  fill: none;
  transition: stroke 1s ease-out, stroke-width 1s ease-out;
}

/*`.kanji g g` is needed to filter out the kanji itself.*/
.kanji g g g[kvg\:element]:hover path {
    stroke: red;
    stroke-width: 4;
    transition: stroke 0.2s ease-out, stroke-width 0.2s ease-out;
}

/*`.kanji g g` is needed to filter out the kanji itself.*/
.kanji g g g[kvg\:element]:active path {
    stroke-width: 5;
    transition: stroke 0.1s ease-out, stroke-width 0.1s ease-in;
}